AI_TOKEN="" # OPENAI TOKEN
AI_PROXY_URL="" # OPRIONAL PROXY URL IF OPENAI IS UNAVAILABLE
RABBITMQ_DEFAULT_USER=""
RABBITMQ_DEFAULT_PASS=""
RABBIT_URL=""
APP_PORT=7777
APP_TOKEN="" # AUTH TOKEN IN THE API
MONGO_HOST=""
MONGO_PORT=
MONGO_DB_NAME="lyrics"
MONGO_COLLECTION_NAME="responses_data"
MONGO_DB_URL=''
MONGO_INITDB_ROOT_USERNAME=''
MONGO_INITDB_ROOT_PASSWORD=''
